@model DomainUser
@{ 
    string linkClass = "social-link social-link--shape-square";
    var facebook = Model?.Profile?.SocialLinks?.FirstOrDefault(x => x.NetworkName == "Facebook").Url;
    var twitter = Model?.Profile?.SocialLinks?.FirstOrDefault(x => x.NetworkName == "Twitter").Url;
    var googlePlus = Model?.Profile?.SocialLinks?.FirstOrDefault(x => x.NetworkName == "GooglePlus").Url;
    var linkedin = Model?.Profile?.SocialLinks?.FirstOrDefault(x => x.NetworkName == "Linkedin").Url;
}
<article class="team-member">
    <div class="team-member__photo">
        <img src="@Url.Content(Model?.Profile.PhotoFilePath)" alt="@DomainUserHelper.GetFullName(Model)" 
            class="team-member__img" />
        <div class="team-member__img-overlay">
            <ul class="menu menu--style-inline team-member__socials">
                <li class="menu__item">
                    <sociallink href="@facebook" class="@linkClass" icon="fa fa-facebook" />
                </li>
                <li class="menu__item">
                    <sociallink href="@twitter" class="@linkClass" icon="fa fa-twitter" />
                </li>
                <li class="menu__item">
                    <sociallink href="@googlePlus" class="@linkClass" icon="fa fa-google-plus" />
                </li>
                <li class="menu__item">
                    <sociallink href="@linkedin" class="@linkClass" icon="fa fa-linkedin" />
                </li>
            </ul>
        </div>
    </div>
    <h4 class="team-member__name">@DomainUserHelper.GetFullName(Model)</h4>
    <h5 class="team-member__job">@Model?.Profile?.JobPosition</h5>
</article>