@model WorkExampleViewModel
@using System.ComponentModel.DataAnnotations
@{ 
    var fileExtensions = new FileExtensionsAttribute();
    string errorMessage = fileExtensions.FormatErrorMessage(Html.DisplayNameFor(x => x.Image));
}
<div class="work-example-item-form">
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" class="work-example-item-form__id" />
        <div class="work-example-item-form__line form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="work-example-item-form__name form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="work-example-item-form__line form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="work-example-item-form__category form-control" />
            <span asp-validation-for="Category"></span>
        </div>
        <div class="work-example-item-form__line form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="work-example-item-form__description form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="work-example-item-form__line form-group">
            <label asp-for="Image"></label>
            <div class="custom-file-input input-group">
                <span class="input-group-btn">
                    <label class="btn btn-default">
                        Browse<input asp-for="Image" class="custom-file-input__upload work-example-item-form__upload">
                    </label>
                </span>
                <input type="text" class="form-control custom-file-input__text custom-file-input__text--right" readonly
                       id="FileName" name="FileName" 
                       data-val="true" 
                       data-val-fileextensions="@errorMessage"
                       data-val-fileextensions-extensions="@fileExtensions.Extensions"
                       data-val-atleastoneoftwo="The @Html.DisplayNameFor(x => x.Image) must be provided."
                       data-val-atleastoneoftwo-other="@Html.IdFor(x => x.ImagePath)" />
            </div>
            <span class="field-validation-valid" data-valmsg-for="FileName" data-valmsg-replace="true"></span>
            <span asp-validation-for="Image"></span>
        </div>
        <div class="work-example-item-form__line form-group">
            <label asp-for="ImagePath"></label>
            <input asp-for="ImagePath" type="hidden" class="work-example-item-form__img-path" />
            @{ 
                string imageUrl = Url.Content(Model?.ImagePath);
                string hiddenClass = "work-example-item-form__img--hidden";
                string description = string.IsNullOrWhiteSpace(Model.Name) ? "NO IMAGE" : Model.Name;
            }
            <div class="work-example-item-form__img-holder">
                <img src="@imageUrl" alt="@description" title="@description"
                     class="work-example-item-form__img @(string.IsNullOrWhiteSpace(imageUrl) ? hiddenClass : "thumbnail")" />
            </div>
        </div>
        <div class="work-example-item-form__line">
            <button type="submit" class="work-example-item-form__submit button button--size-sm">Submit</button>
        </div>
    </form>
</div>